$color-primary: #39ddaf;
$color-hover: #26ebb3;
$color-active: #19ffd9;
$color-accent: #acffe8;
$color-light: #9fffe4;
$color-dark: #6f8d84;
$color-link: #44b1ff;
$color-link-hover: #ff44f9;
$color-background-default: #1f1f1f;
$color-background-header: #0f0f0f;
$color-font: #bdbdbd;
$color-font--dark: #868686;
